/* Add CSS Styling */

.one,
.three {
    background-color: rgb(253, 107, 107);
    font-family: "Verdana", "DejaVu Sans", sans-serif;

}

.three {
    font-size: 24px;
}

#two {
    color: rgb(57, 57, 228);
    font-size: 36px;
}

#four {
    background-color: rgb(154, 255, 154);
    font-size: 24px;
    font-weight: bold;
}